@charset "UTF-8";
/*Copyright 2022 ;
@author GANGLO Ulrich
Version 1.0
*/

:root{
    --mcf-primary: #F29E22;
    --mcf-secondary: #E41C27;
    --mcf-gray: #F2F2F2;
    --mcf-gradient: linear-gradient(to right, #e41c27 0%, #f29e22 100%);
}



/*font-size*/

.font-size-36 {
    font-size: 2.25rem !important;
}

.font-size-34 {
    font-size: 2.125rem !important;
}

.font-size-32 {
    font-size: 2rem !important;
}

.font-size-30 {
    font-size: 1.875rem !important;
}

.font-size-28 {
    font-size: 1.75rem !important;
}

.font-size-26 {
    font-size: 1.625rem !important;
}

.font-size-24 {
    font-size: 1.5rem !important;
}

.font-size-22 {
    font-size: 1.375rem !important;
}

.font-size-20 {
    font-size: 1.25rem !important;
}

.font-size-18 {
    font-size: 1.125rem !important;
}

.font-size-16 {
    font-size: 1rem !important;
}

.font-size-14 {
    font-size: 0.875rem !important;
}

.font-size-12 {
    font-size: 0.75rem !important;
}

.font-size-10 {
    font-size: 0.625rem !important;
}

.font-size-8 {
    font-size: 0.5rem !important;
}

@media (min-width: 576px) {
    .font-size-sm-36 {
        font-size: 2.25rem !important;
    }

    .font-size-sm-34 {
        font-size: 2.125rem !important;
    }

    .font-size-sm-32 {
        font-size: 2rem !important;
    }

    .font-size-sm-30 {
        font-size: 1.875rem !important;
    }

    .font-size-sm-28 {
        font-size: 1.75rem !important;
    }

    .font-size-sm-26 {
        font-size: 1.625rem !important;
    }

    .font-size-sm-24 {
        font-size: 1.5rem !important;
    }

    .font-size-sm-22 {
        font-size: 1.375rem !important;
    }

    .font-size-sm-20 {
        font-size: 1.25rem !important;
    }

    .font-size-sm-18 {
        font-size: 1.125rem !important;
    }

    .font-size-sm-16 {
        font-size: 1rem !important;
    }

    .font-size-sm-14 {
        font-size: 0.875rem !important;
    }

    .font-size-sm-12 {
        font-size: 0.75rem !important;
    }

    .font-size-sm-10 {
        font-size: 0.625rem !important;
    }

    .font-size-sm-8 {
        font-size: 0.5rem !important;
    }
}

@media (min-width: 768px) {
    .font-size-md-36 {
        font-size: 2.25rem !important;
    }

    .font-size-md-34 {
        font-size: 2.125rem !important;
    }

    .font-size-md-32 {
        font-size: 2rem !important;
    }

    .font-size-md-30 {
        font-size: 1.875rem !important;
    }

    .font-size-md-28 {
        font-size: 1.75rem !important;
    }

    .font-size-md-26 {
        font-size: 1.625rem !important;
    }

    .font-size-md-24 {
        font-size: 1.5rem !important;
    }

    .font-size-md-22 {
        font-size: 1.375rem !important;
    }

    .font-size-md-20 {
        font-size: 1.25rem !important;
    }

    .font-size-md-18 {
        font-size: 1.125rem !important;
    }

    .font-size-md-16 {
        font-size: 1rem !important;
    }

    .font-size-md-14 {
        font-size: 0.875rem !important;
    }

    .font-size-md-12 {
        font-size: 0.75rem !important;
    }

    .font-size-md-10 {
        font-size: 0.625rem !important;
    }

    .font-size-md-8 {
        font-size: 0.5rem !important;
    }
}

@media (min-width: 992px) {
    .font-size-lg-36 {
        font-size: 2.25rem !important;
    }

    .font-size-lg-34 {
        font-size: 2.125rem !important;
    }

    .font-size-lg-32 {
        font-size: 2rem !important;
    }

    .font-size-lg-30 {
        font-size: 1.875rem !important;
    }

    .font-size-lg-28 {
        font-size: 1.75rem !important;
    }

    .font-size-lg-26 {
        font-size: 1.625rem !important;
    }

    .font-size-lg-24 {
        font-size: 1.5rem !important;
    }

    .font-size-lg-22 {
        font-size: 1.375rem !important;
    }

    .font-size-lg-20 {
        font-size: 1.25rem !important;
    }

    .font-size-lg-18 {
        font-size: 1.125rem !important;
    }

    .font-size-lg-16 {
        font-size: 1rem !important;
    }

    .font-size-lg-14 {
        font-size: 0.875rem !important;
    }

    .font-size-lg-12 {
        font-size: 0.75rem !important;
    }

    .font-size-lg-10 {
        font-size: 0.625rem !important;
    }

    .font-size-lg-8 {
        font-size: 0.5rem !important;
    }
}

@media (min-width: 1200px) {
    .font-size-xl-36 {
        font-size: 2.25rem !important;
    }

    .font-size-xl-34 {
        font-size: 2.125rem !important;
    }

    .font-size-xl-32 {
        font-size: 2rem !important;
    }

    .font-size-xl-30 {
        font-size: 1.875rem !important;
    }

    .font-size-xl-28 {
        font-size: 1.75rem !important;
    }

    .font-size-xl-26 {
        font-size: 1.625rem !important;
    }

    .font-size-xl-24 {
        font-size: 1.5rem !important;
    }

    .font-size-xl-22 {
        font-size: 1.375rem !important;
    }

    .font-size-xl-20 {
        font-size: 1.25rem !important;
    }

    .font-size-xl-18 {
        font-size: 1.125rem !important;
    }

    .font-size-xl-16 {
        font-size: 1rem !important;
    }

    .font-size-xl-14 {
        font-size: 0.875rem !important;
    }

    .font-size-xl-12 {
        font-size: 0.75rem !important;
    }

    .font-size-xl-10 {
        font-size: 0.625rem !important;
    }

    .font-size-xl-8 {
        font-size: 0.5rem !important;
    }
}

@media (min-width: 1400px) {
    .font-size-xxl-36 {
        font-size: 2.25rem !important;
    }

    .font-size-xxl-34 {
        font-size: 2.125rem !important;
    }

    .font-size-xxl-32 {
        font-size: 2rem !important;
    }

    .font-size-xxl-30 {
        font-size: 1.875rem !important;
    }

    .font-size-xxl-28 {
        font-size: 1.75rem !important;
    }

    .font-size-xxl-26 {
        font-size: 1.625rem !important;
    }

    .font-size-xxl-24 {
        font-size: 1.5rem !important;
    }

    .font-size-xxl-22 {
        font-size: 1.375rem !important;
    }

    .font-size-xxl-20 {
        font-size: 1.25rem !important;
    }

    .font-size-xxl-18 {
        font-size: 1.125rem !important;
    }

    .font-size-xxl-16 {
        font-size: 1rem !important;
    }

    .font-size-xxl-14 {
        font-size: 0.875rem !important;
    }

    .font-size-xxl-12 {
        font-size: 0.75rem !important;
    }

    .font-size-xxl-10 {
        font-size: 0.625rem !important;
    }

    .font-size-xxl-8 {
        font-size: 0.5rem !important;
    }
}


/* header */
.logo{
    height: 3.8rem;
}

.sidebar [data-bs-toggle=collapse]:after {
    border: solid;
    border-width: 0 0.075rem 0.075rem 0;
    content: " ";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    transform: rotate(45deg);
    transition: all .2s ease-out;
}
.sidebar [aria-expanded=true]:after, .sidebar [data-bs-toggle=collapse]:not(.collapsed):after {
    top: 1.4rem;
    transform: rotate(-135deg);
}
