@charset "UTF-8";
/*Copyright 2022 ;
@author GANGLO Ulrich
Version 1.0
*/

:root{
    --mcf-primary: #F29E22;
    --mcf-secondary: #E41C27;
    --mcf-gray: #F2F2F2;
    --mcf-gradient: linear-gradient(to right, #e41c27 0%, #f29e22 100%);
}


/* header */
.logo{
    height: 5rem;
}

@media (max-width:767px){
    #headerLink{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .logo{
        height: 7rem;
    }

}


.nav-btn-primary, .nav-btn-secondary, .mcf-btn-primary{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 10rem;
    padding: 0.375rem 2rem;

}

.nav-btn-primary i , .nav-btn-secondary i, .mcf-btn-gradient i, i .mcf-link{
    margin-left: 1rem;
}

.nav-btn-primary{
    background: var(--mcf-gradient);
    color: var(--bs-white);
    border-color: transparent;
}

.nav-btn-primary:hover{
    color: var(--bs-white);
    text-decoration: none;
}

.nav-btn-secondary{
    background: var(--bs-dark);
    color: var(--bs-white);
}

.nav-btn-secondary:hover{
    color: var(--bs-white);
    text-decoration: none;
}


/* Hero */

#hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url('../img/hero.svg') no-repeat;
    background-size: cover ;
    width: 100%;
    height: 40vh;
}


/* font-size */



@media  (min-width:992px){
    h1{
        font-size: 3rem;
    }
}


/*login*/

#loginHero{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: url('../img/hero-login.jpg') no-repeat;
    background-size: cover ;
}


#loginContent{
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.mcf-input{
    border:  1px solid  var(--mcf-primary);
    border-radius: 10rem;
}

.mcf-link{
    text-decoration: none;
    color: var(--bs-dark);
}

.mcf-link:hover{
    text-decoration: underline;
    text-decoration-color: var(--mcf-secondary);
    color: var(--mcf-secondary);
}

.mcf-link-primary{
    color: var(--mcf-primary);
}

.mcf-link-primary:hover{
    color: var(--mcf-secondary);
}

/* buttons */

.mcf-btn-gradient{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    border-radius: 10rem;
    padding: 0.375rem 2rem;
    background: var(--mcf-gradient);
    color: var(--bs-white);
}

.step-icone{
    height: 40px;
    width: 40px;
    background: var(--mcf-gradient);
    color: var(--bs-white);
    border-radius: 50rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-icone::before{
    position: relative;
    display: block;
    width: 150px;
    height: 8px;
    background: #0a0a0a;
}


/*
Form steps*/

.steps{
    margin: 2.5rem auto;
    overflow: hidden;
}

.steps ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.steps ul li {
    float: left;
    position: relative;
    cursor: pointer;
    transition: all .4s ease-in-out;
    margin: auto 10rem;
}

.steps ul li:hover, .steps ul li.active{
    color: var(--mcf-primary);
}

.steps ul li:hover span, .steps ul li.active span{
    background: var(--mcf-primary);
    color: var(--bs-white);
}

.steps ul li:hover span::before, .steps ul li.active span::after{
    background: var(--mcf-primary);
    color: var(--bs-white);
    width: 100%;
}

.steps ul li::before , .steps ul li::after{
    content: "";
    position: absolute;
    top: 22px;
    left: -430%;
    background: var(--mcf-primary);
    color: var(--bs-white);
    height: 3px;
    width: 500%;
    transition: all .4s ease-in-out;
    transform: translateY(-50%);
}


.steps ul li span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50rem;
    background: var(--mcf-primary);
    color: var(--bs-white);
    transition: all .4s ease-in-out;
    font-size: 1rem;
    line-height: 35px;
    position: relative;
    z-index: 1;
    margin: 0 auto 15px;
}

.steps ul li:first-child::before,
.steps ul li:first-child::after {
    display: none;
}

.form-wizard{
    position:  relative;
    display: table;
    margin: 0 auto;
    max-width: 540px;
}

/*font-size*/

.font-size-36 {
    font-size: 2.25rem !important;
}

.font-size-34 {
    font-size: 2.125rem !important;
}

.font-size-32 {
    font-size: 2rem !important;
}

.font-size-30 {
    font-size: 1.875rem !important;
}

.font-size-28 {
    font-size: 1.75rem !important;
}

.font-size-26 {
    font-size: 1.625rem !important;
}

.font-size-24 {
    font-size: 1.5rem !important;
}

.font-size-22 {
    font-size: 1.375rem !important;
}

.font-size-20 {
    font-size: 1.25rem !important;
}

.font-size-18 {
    font-size: 1.125rem !important;
}

.font-size-16 {
    font-size: 1rem !important;
}

.font-size-14 {
    font-size: 0.875rem !important;
}

.font-size-12 {
    font-size: 0.75rem !important;
}

.font-size-10 {
    font-size: 0.625rem !important;
}

.font-size-8 {
    font-size: 0.5rem !important;
}

@media (min-width: 576px) {
    .font-size-sm-36 {
        font-size: 2.25rem !important;
    }

    .font-size-sm-34 {
        font-size: 2.125rem !important;
    }

    .font-size-sm-32 {
        font-size: 2rem !important;
    }

    .font-size-sm-30 {
        font-size: 1.875rem !important;
    }

    .font-size-sm-28 {
        font-size: 1.75rem !important;
    }

    .font-size-sm-26 {
        font-size: 1.625rem !important;
    }

    .font-size-sm-24 {
        font-size: 1.5rem !important;
    }

    .font-size-sm-22 {
        font-size: 1.375rem !important;
    }

    .font-size-sm-20 {
        font-size: 1.25rem !important;
    }

    .font-size-sm-18 {
        font-size: 1.125rem !important;
    }

    .font-size-sm-16 {
        font-size: 1rem !important;
    }

    .font-size-sm-14 {
        font-size: 0.875rem !important;
    }

    .font-size-sm-12 {
        font-size: 0.75rem !important;
    }

    .font-size-sm-10 {
        font-size: 0.625rem !important;
    }

    .font-size-sm-8 {
        font-size: 0.5rem !important;
    }
}

@media (min-width: 768px) {
    .font-size-md-36 {
        font-size: 2.25rem !important;
    }

    .font-size-md-34 {
        font-size: 2.125rem !important;
    }

    .font-size-md-32 {
        font-size: 2rem !important;
    }

    .font-size-md-30 {
        font-size: 1.875rem !important;
    }

    .font-size-md-28 {
        font-size: 1.75rem !important;
    }

    .font-size-md-26 {
        font-size: 1.625rem !important;
    }

    .font-size-md-24 {
        font-size: 1.5rem !important;
    }

    .font-size-md-22 {
        font-size: 1.375rem !important;
    }

    .font-size-md-20 {
        font-size: 1.25rem !important;
    }

    .font-size-md-18 {
        font-size: 1.125rem !important;
    }

    .font-size-md-16 {
        font-size: 1rem !important;
    }

    .font-size-md-14 {
        font-size: 0.875rem !important;
    }

    .font-size-md-12 {
        font-size: 0.75rem !important;
    }

    .font-size-md-10 {
        font-size: 0.625rem !important;
    }

    .font-size-md-8 {
        font-size: 0.5rem !important;
    }
}

@media (min-width: 992px) {
    .font-size-lg-36 {
        font-size: 2.25rem !important;
    }

    .font-size-lg-34 {
        font-size: 2.125rem !important;
    }

    .font-size-lg-32 {
        font-size: 2rem !important;
    }

    .font-size-lg-30 {
        font-size: 1.875rem !important;
    }

    .font-size-lg-28 {
        font-size: 1.75rem !important;
    }

    .font-size-lg-26 {
        font-size: 1.625rem !important;
    }

    .font-size-lg-24 {
        font-size: 1.5rem !important;
    }

    .font-size-lg-22 {
        font-size: 1.375rem !important;
    }

    .font-size-lg-20 {
        font-size: 1.25rem !important;
    }

    .font-size-lg-18 {
        font-size: 1.125rem !important;
    }

    .font-size-lg-16 {
        font-size: 1rem !important;
    }

    .font-size-lg-14 {
        font-size: 0.875rem !important;
    }

    .font-size-lg-12 {
        font-size: 0.75rem !important;
    }

    .font-size-lg-10 {
        font-size: 0.625rem !important;
    }

    .font-size-lg-8 {
        font-size: 0.5rem !important;
    }
}

@media (min-width: 1200px) {
    .font-size-xl-36 {
        font-size: 2.25rem !important;
    }

    .font-size-xl-34 {
        font-size: 2.125rem !important;
    }

    .font-size-xl-32 {
        font-size: 2rem !important;
    }

    .font-size-xl-30 {
        font-size: 1.875rem !important;
    }

    .font-size-xl-28 {
        font-size: 1.75rem !important;
    }

    .font-size-xl-26 {
        font-size: 1.625rem !important;
    }

    .font-size-xl-24 {
        font-size: 1.5rem !important;
    }

    .font-size-xl-22 {
        font-size: 1.375rem !important;
    }

    .font-size-xl-20 {
        font-size: 1.25rem !important;
    }

    .font-size-xl-18 {
        font-size: 1.125rem !important;
    }

    .font-size-xl-16 {
        font-size: 1rem !important;
    }

    .font-size-xl-14 {
        font-size: 0.875rem !important;
    }

    .font-size-xl-12 {
        font-size: 0.75rem !important;
    }

    .font-size-xl-10 {
        font-size: 0.625rem !important;
    }

    .font-size-xl-8 {
        font-size: 0.5rem !important;
    }
}

@media (min-width: 1400px) {
    .font-size-xxl-36 {
        font-size: 2.25rem !important;
    }

    .font-size-xxl-34 {
        font-size: 2.125rem !important;
    }

    .font-size-xxl-32 {
        font-size: 2rem !important;
    }

    .font-size-xxl-30 {
        font-size: 1.875rem !important;
    }

    .font-size-xxl-28 {
        font-size: 1.75rem !important;
    }

    .font-size-xxl-26 {
        font-size: 1.625rem !important;
    }

    .font-size-xxl-24 {
        font-size: 1.5rem !important;
    }

    .font-size-xxl-22 {
        font-size: 1.375rem !important;
    }

    .font-size-xxl-20 {
        font-size: 1.25rem !important;
    }

    .font-size-xxl-18 {
        font-size: 1.125rem !important;
    }

    .font-size-xxl-16 {
        font-size: 1rem !important;
    }

    .font-size-xxl-14 {
        font-size: 0.875rem !important;
    }

    .font-size-xxl-12 {
        font-size: 0.75rem !important;
    }

    .font-size-xxl-10 {
        font-size: 0.625rem !important;
    }

    .font-size-xxl-8 {
        font-size: 0.5rem !important;
    }
}
